{% extends 'basic.html' %}

{% block title %}About US{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<div id="Subheader" style="padding:150px;background-color:gray;">
    <div class="container">
    <div class=" column one">
        <h1 class="title" style="text-align: center;font-size: 100px"><i>About Us</i></h1>
    </div>
</div>
</div>
<h2 style="text-align: center;">You simply can't do better than Performance Packaging for all of your packaging needs. 
    <br><a style="color: black;" href="contact"><u>Contact us</u></a> today for turnkey services.</h2>
<div class="container my-4">
    <div class="row">
        <div class="col-4">
            <img src="media/manufacture/images/download (1).jpg" alt="">
        </div>
        <div class="col-8">
            <p>the owner if this laminator company is Lokesh gupta ..and it is started in 2018..and now ....</p>
        </div>
    </div>
    <div class="container my-4">
        <h2 class="my-4" style="text-align: center;">List Of Capabilities</h2>
        <div class="row">
            <div class="col-4">
                <ul>
                    <li>Microwave vented for hot fill & frozen veggies</li>
                    <li>Retort foil & non foil</li>
                    <li>Lidding easy peel</li>
                    <li>Cosmetic personal care foil laminations including mailer</li>
                    <li>Frozen novelty MOPP/Pearlized OPP</li>
                    <li></li>
                </ul>
            </div>
            <div class="col-4">
                <ul>
                    <li>Printing up to 14 colors</li>
                    <li>Extrusion, Adhesive AND solvent less laminations</li>
                    <li>Tandem Extrusion and tandem adhesive laminations</li>
                    <li>Various external coatings in register including cold seal, hot melt, matte varnish
                        D-metallized pattern window</li>
                    <li>Pre-made pouches – die cut shapes, Spouts various sizes plus membrane valves</li>
                    <li>Press to close and slider zippers</li>
                </ul>
            </div>
            <div class="col-4">
                <ul>
                    <li> Valves for coffee pouches</li>
                    <li>Paper pouches with windows</li>
                    <li>Exclusive Straw Pouches</li>
                    <li>Shrink sleeves, pre-cut and roll stock, PVC, OPS, PET, etc.</li>
                    <li>Filling machinery</li>
                    <li>Clean Room packaging facilities for Pharma and Medical Device packaging</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    {% endblock body %}